@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center">🚀 Bem vindo ao BlazorShop 🚀</h1>
<hr />
<p class="text-center">BlazorShop foi um projeto desenvolvido durante o curso de Fundamentos de Blazor da plataforma Balta.io, lançado na data 23/11/2023.</p>
<div class="text-center">
	<a href="https://github.com/igorsantiiago" class="btn btn-outline-dark mb-3">GitHub</a>
	<a href="https://www.linkedin.com/in/igorsantiago" class="btn btn-outline-dark mb-3">LinkedIn</a>
</div>
<hr />
<h3>💻 Tecnologias</h3>
<ul>
	<li>.NET 8</li>
	<li>Blazor</li>
	<li>Entity Framework</li>
	<li>Sqlite</li>
</ul>

<h3>🔨 Ferramentas</h3>
<ul>
	<li>Visual Studio 2022</li>
	<li>Blazor</li>
	<li>Entity Framework</li>
	<li>Asp.Net Identity</li>
	<li>Sqlite</li>
</ul>

<h3>📱 Funcionalidades</h3>
<ul>
	<li>Cadastro de Usuário</li>
	<li>CRUD de Categorias</li>
	<li>CRUD de Produtos</li>
</ul>


<h3>🔗 Endpoints</h3>
<p><code>/categories</code></p>
<p><code>/categories/{id}</code></p>
<p><code>/categories/create</code></p>
<p><code>/categories/edit/{id}</code></p>
<p><code>/categories/delete/{id}</code></p>
<p><code>/products</code></p>
<p><code>/products/{id}</code></p>
<p><code>/products/create</code></p>
<p><code>/products/edit/{id}</code></p>
<p><code>/products/delete/{id}</code></p>
<p><code>/account/register</code></p>
<p><code>/account/login</code></p>

<hr />
<div class="text-center mb-3">
	<a href="https://balta.io/">
		<img src="https://baltaio.blob.core.windows.net/static/images/dark/balta-logo.svg" width="250" class="card-footer" style="background-color:black; border-radius:20px"/>
	</a>
</div>

